// $background: #FEF1E6;
// $border: #525B7A;
// $right: #90AACB;
// $wrong: #FFB085;
// $still-wrong: #FF878C;
// $very-wrong: #C4515A;
// $text: #0B2C46;

$background: #A7C7E7;
// $background: #6082B6;
$background2: #36454F;
// $border: #FE999D;
$border: #CC5500;
$right: #00A2EE;
$wrong: #D7779D;
// $wrong: #CC5500;
$still-wrong: #FF878C;
$very-wrong: #C4515A;
$text: #0B2C46;