@use 'variables' as v;

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: v.$off-white;
}

button {
  margin: 0 5px;
	padding: 12px 20px;
	background-color: v.$right;
  border: none;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
  font-family: inherit;
	font-size:17px;

  &:hover {
	background-color: v.$border;
  }

  &:active {
	background-color: v.$border;
  }
}

form {
  display: inline-block;
}

.hidden {
  display: none;
}

.page-container {
  margin: 10% 3em 0 3em;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.top-half {
  border: 2px groove v.$border;
  text-align: center;
}

.top-half {
  .text-container {
    text-align: justify;
  }
}

.bottom-half {
  margin-top: 10%;
  border: 2px solid v.$border;
  text-align: center;
  font-size: 2rem;
  padding: 0 0.5em 0.5em 0.5em;
}

.bottom-half {
  > h2 {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.2em 0.1em 0.2em;
    border-left: 2px solid v.$border;
    border-right: 2px solid v.$border;
    border-bottom: 2px solid v.$border;
  }

  p {
    text-align: justify;
  }
}

// change max-height by 3 rem for one line of text
.text-container {
  overflow: hidden;
  max-height: 18rem;
  padding: 0 1em 1em 1em;
}