@use 'variables' as v;

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: v.$off-white;
}

button {
  margin: 0 5px;
	padding: 10px 20px;
	background-color: v.$right;
  border: none;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
  font-family: inherit;
	font-size:17px;
  transition: background-color 0.3s ease-out;

  &:hover {
	background-color: v.$border;
  }

  &:active {
	background-color: v.$border;
  }
}

button#start-button {
  width: 20%;
}

form {
  display: inline-block;
}

#graphics-canvas {
  background-color: v.$off-white;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.page-container {
  margin: 3% 3em 0 3em;
  display: flex;
  flex-direction: column;
}

.top-half {
  position: relative;
  border: 2px solid v.$right;
  border-radius: 15px;
  text-align: center;

  .text-container {
    text-align: justify;
  }
}

.bottom-half {
  display: block;
  position: relative;
  height: 60%;
  margin-top: 2%;
  border: 2px solid v.$right;
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;

  .instructions {
    padding: 0 0.5em 0 0.5em;

    > h2 {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      padding: 0 0.2em 0.2em;
      // border-left: 2px solid v.$right;
      // border-right: 2px solid v.$right;
      // border-bottom: 2px solid v.$right;
    }

    p input {

    }
  }

  .graphics-canvas {
    border-radius: 15px;
  }
}


// change max-height by 3 rem for one line of text
.text-container {
  overflow: hidden;
  max-height: 9rem;
  padding: 0 1em 1em 1em;
}