@use 'variables' as v;

p {
  margin-top: 0.5em;
  font-size: 2rem;
}

p {
  span {
    transition: color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
}

.current-char {
  background-color: v.$right;
}

.correct-char {
  color: v.$right;
}

.wrong-char {
  // transition: color 0.2s ease-in;
  // color: v.$wrong;
  background-color: v.$wrong;
}

.still-wrong-char {
  background-color: v.$still-wrong;
}

.very-wrong-char {
  background-color: v.$very-wrong;
}