@use 'variables' as v;

.stats-container div {
  display: flex;
  justify-content: center;
  align-items: center;

  .stat-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem 1.45rem;
    border: 3px solid v.$right;
    // border-radius: 50%;
    border-radius: 9999px;

    span {
      font-size: x-large;
      font-weight: 500;
    }

    figcaption {
      font-size: small;
      font-weight: 400;
    }

    &:first-of-type {
      padding: 1rem 1.65rem;
    }
  }
}